# If the application is in debug mode, should be false on PRODUCTION.
DEBUG=True

# The database connection string.
DATABASE="mysql+mysqlconnector://root:secret@127.0.0.1/Syslog?charset=utf8"

# Used to encrypt cookies etc.
SECRET_KEY='i\xb0\x11S2\xbd_\xb7>\xd2{\xc6\xd0\xc5g\xcb\xd74\xedO\x07(~\x07'

# The users that can login to the syco-signer.
USERS = {
    'user': 'password'
}